NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change-this-secret-with-openssl-rand-base64-32
DATABASE_URL="postgresql://user:password@localhost:5432/finance_control?schema=public"
RECAPTCHA_SECRET_KEY=
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
