NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change-this-secret-with-openssl-rand-base64-32
DATABASE_URL="postgresql://finance_user:Chaewon127845!@localhost:5432/finance_control?schema=public"
RECAPTCHA_SECRET_KEY=6LeG3IwtAAAAAMBgczqtmHj0fGvyTwlCQAzm573a
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=6LeG3IwtAAAAABFLoIAEjhhTBt_2U0Cc90IK0jju
